.row {
    text-align: center;
}

.box-a {
    color: #ffffff;
    background-color: #88895a;
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    border: 1px solid #ffffff;
}

.box-b {
    color: #ffffff;
    background-color: #88895a;
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    border: 1px solid #ffffff;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.container-fluid
,.row {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.container {
    margin-top: 20px;
}

.promotion-banner {
    text-align: center;
    background: linear-gradient(102.2deg, rgb(109, 118, 150) 14.3%, rgb(89, 72, 79) 28.6%, rgb(69, 92, 79) 42.9%, rgb(204, 85, 67) 57.1%, rgb(237, 181, 121) 71.4%, rgb(219, 230, 175) 85.7%);
    color: #fff;
    padding: 10px 0;
    font-family: 'Dosis', sans-serif;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    height: 58px;
    line-height: 38px;
}

a {
    color: #ffffff;
    text-decoration: underline;
}

.btn {
    text-decoration: none;
    transition: all 150ms ease-in-out;
    border-radius: 20px;
    font-family: 'Dosis', sans-serif;
}

.btn-primary--success {
    background: #35c56c;
    border: 1px solid #35c56c;
    color: #ffffff;
}

.btn-primary--success:hover {
    background: rgb(69, 92, 79);;
    border: 1px solid rgb(69, 92, 79);
    color: #ffffff;
}

.btn-primary {
    background: #ffffff;
    border: 1px solid rgb(109, 118, 150);
    color: rgb(109, 118, 150);;
}

.btn-primary:hover {
    background: rgb(109, 118, 150);
    color: #ffffff;
}

.btn-secondary {
    background: rgb(109, 118, 150);
    border: 1px solid rgb(109, 118, 150);
    color: #ffffff;
}

.btn-secondary:hover {
    background: #ffffff;
    color: rgb(109, 118, 150);
}

.navbar {
    background: #ffffff;
    font-family: 'Dosis', sans-serif;
    margin: 0 auto;
    padding: 5px 10px;
}

.nav-item {
    font-weight: bold;
}

.content {
    margin-top: 100px;
    padding: 0 30px;
    background-image: url(image2.jpg);
}

.homepage-header {
    padding: 90px 0 90px;
    position: relative;
}

h1 {
    font-family: 'Dosis', sans-serif;
    color: black;
    background-color: #ebd6b1;
    padding: 12px;
    text-align: left;
    border: 1px solid #ebd6b1;
    border-radius: 20px;
}

h2 {
    font-family: 'Dosis', sans-serif;
    color: black;
    background-color: #ebd6b1;
    padding: 12px;
    text-align: left;
    border: 1px solid #ebd6b1;
    border-radius: 20px;
}

.h3 {
    font-family: 'Dosis', sans-serif;
    color: black;
    padding: 12px;
    margin: 12px;
    text-align: center;
    border: 1px solid rgb(109, 118, 150);
    border-radius: 20px;
}

.fa-table-columns,
.fa-list-check,
.fa-pen-to-square,
.fa-clipboard {
    color: black;
    padding: 12px;
    text-align: center;
    font-size: 50px;
}

.green-hl {
    color: #e95f12;
    font-weight: bold;
}
